body {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

a {
    text-decoration: none;
}

#header a {
    background: url(/GiuaKi/GiaoDien/logo.svg) no-repeat center;
    height: 56px;
    padding: 16px 0;
    display: block;
}

.content {
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    margin: 0 auto;
    position: relative;
    max-width: 470px;
    z-index: 682;
    max-width: 400px;
    padding: 16px;
}

.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    -webkit-appearance: none;
    text-decoration: none;
    border-radius: .25rem;
    background: #4285f4;
    color: #fff
}


    .btn.large {
        font-size: 15px;
        padding: 10px 180px;
    }

    .btn.facebook {
        color: #fff;
        background-color: #3b5998;
    }

    .btn.google {
        color: #fff;
        background-color: #4285f4;
    }

    .btn.dangki{
        color: #fff;
        background-color: #da251c;
    }
    .btn.zalo {
        color: #fff;
        background-color: #03a5fa;
    }
.socialLogin {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid #eee;
}

h1 {
    color: #525252;
    font-size: 23px;
    margin: 16px;
    text-align: center;
}

.actions {
    color: #525252;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 16px 0;
}

.message {
    line-height: 1.4em;
    margin: 16px 0;
    border-top: 1px solid #eee;
    padding-top: 16px;
}

.title {
    margin-bottom: 8px;
    display: block;
}

.textfield {
    display: block;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fefefe;
    padding: 7px;
    line-height: 1.4em;
    font-size: 16px;
    font-family: arial;
    max-width: 100%;
}

    .textfield:focus {
        background: #fff;
    }

    .textfield.large {
        width: 480px;
    }

    .textfield.full {
        width: 100%;
    }

.selectfield {
    padding: 7px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fcfcfc;
    border-radius: 3px;
}

    .selectfield:focus {
        background: #fff;
    }

.form-login ul, .form-register ul.info {
    padding: 0;
}

    .form-login ul li, .form-register ul.info li {
        margin-bottom: 10px;
        list-style: none;
    }

        .form-register ul.info li .title {
            display: block;
        }

.form-login .toolbar, .form-register .toolbar {
    text-align: center;
    padding-top: 16px;
    border-top: 1px solid #eee;
}

.form-login, .form-register {
    margin-bottom: 16px;
    border-top: 1px solid #eee;
}

.policies {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 16px 0;
}

.field-validation-error {
    color: red;
    display: block;
    font-size: 14px;
    margin: 8px 0;
}

.input-validation-error {
    border: 1px solid red;
}

.validation-summary-errors {
    color: red
}

.text-center {
    text-align: center;
}

.accountkit {
    min-height: 200px
}

    .accountkit .actions {
        display: block;
    }

        .accountkit .actions .btn {
            float: right;
        }

/*acccount*/
.main {
    margin: 16px auto;
    width: 600px;
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.d-header {
    padding: 16px;
}


    .d-header .title {
        font-size: 16px;
        font-weight: bold;
        display: block;
    }

    .d-header .desc {
        display: block;
        font-size: 14px;
    }

.rd-item {
    margin: 0 16px 16px;
    display: grid;
    grid-template-columns: 32px auto;
    border: 1px solid #ddd;
    padding: 16px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

    .rd-item:hover {
        color: black;
        background: #eee;
    }

    .rd-item input[type=radio] {
        width: 20px;
        height: 20px;
    }

    .rd-item .name {
        font-weight: bold;
        font-size: 16px;
    }

    .rd-item .infotip {
        font-weight: 600;
        opacity: .7;
        font-size: 14px;
    }

    .rd-item .desc {
        opacity: .7;
        font-size: 14px;
    }

.actions {
    color: #525252;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 16px 16px 16px 0;
}

    .actions .d-btn {
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
    }

        .actions .d-btn:hover {
            opacity: .87;
        }

        .actions .d-btn.send {
            color: white;
            background-color: dodgerblue;
            border-radius: 5px;
            border: 1px solid dodgerblue;
        }

        .actions .d-btn.cancel {
            background: #ddd;
            color: black;
            border-radius: 5px;
            margin-right: 8px;
        }

.rd-item ul {
    list-style: none;
    margin: 0 16px;
    padding: 0;
}
